/* Define standard variables and values for app */
$bgcolor: lightblue;
$textcolor: black;
$fontsize: 12px;
$fontfamily: Helvetica, sans-serif;
$header-color: green;
$main-color: green;
$second-color: yellow;
$width:680px;