<section class="weather-search" class="form-group">
            <form   >
               <div class="form-group">
                <label for="city">City Name:</label>
                <!-- <input ngControl="location" class="form-control" type="text" placeholder="Enter city name" id="city" (input)="onSearchLocation(input.value)" required #input > -->

               <!--  two ways data binding through [(ngModel)]  -->
                <input class="form-control" type="text" placeholder="Enter city name" id="city" [(ngModel)] ="cityName" name="cityname" (input)="onSearchLocationWithEvent($event)">  

                </div>
                <button class="btn btn-primary" [disabled]="disabledForecastButton" (click) ="onSubmitDatabinding()" type="submit">Forecast</button>
                {{disabledForecastButton}} 
                {{cityName}}            
            </form>          
            <weather-list [WeatherForecastList]="weatherForecastData"></weather-list> 
</section>
