<section class="weather-search" class="form-group">
            <form (ngSubmit)="onSubmit(input.value)"  >
               <div class="form-group">
                <label for="city">City Name:</label>
                <input ngControl="location" class="form-control" type="text" placeholder="Enter city name" id="city" (input)="onSearchLocation(input.value)" required #input >
                </div>
                <button class="btn btn-primary" type="submit">Forecast</button>             
            </form>          
            <weather-list [WeatherForecastList]="weatherForecastData"></weather-list> 
</section>
