/* You can add global styles to this file, and also import other style files */

body { 
	background-color: navyblue;  
}
h1 {
	color:blue;
	text-align: center;
}

.weather-search {
	text-align: center;
}
.weather-element {
	text-align: left;
}