/* You can add global styles to this file, and also import other style files */

body {
    background-color: navyblue;
}

h1 {
    color: blue;
    text-align: center;
}

.weather-search {
    text-align: center;
}

.weather-element {
    width: 500px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    background-color: lightblue;
}

.wind {
    text-align: center;
}

.temperature {
    text-align: left;
}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}