<div id="container" class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="OnSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email ( e.g. aman.patial@gmail.com )</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password ( e.g. AmanPatial )</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button class="button-report" type="submit">Sign In</button>
    </form>
  </div>
</div>
